<div class= "container container-index">
  <div class="index-content">
    <div class="index-left-part pr-2">
      <div class="searchbar-index">
        <%= form_tag maraudes_path, class: "form-flex", method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control autocomplete", placeholder: "Trouvez une Maraude..."%>
        <%= submit_tag "Recherche", class: "btn btn-warning" %>
        <% end %>
      </div>

      <div class="row" style="margin: 0;">
        <% @maraudes.each do |maraude| %>
        <div class="col-6" style="padding: 18px;" id="card">
            <%= link_to maraude_path(maraude) do %>
              <div class="card-trip zoom picture" data-id='<%= maraude.id %>' >
                <%= cl_image_tag maraude.photo %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= maraude.title %></h2>
                    <p><%= I18n.l(maraude.starts_at, format: :long, locale: :'fr')%></p>
                  </div>
                  <h2><%= maraude.capacity.to_i - maraude.bookings.size %> places</h2>
                  <%= cl_image_tag(maraude.asso.photo, width: 40, height: 40, crop: :fill, class: "avatar-bordered card-trip-user") %>
                </div>
              </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="index-right-part"
      id="map"
          style="width: 604px;
          "
          data-markers="<%= @markers.to_json %>"
          data-markers-actual-position="<%= @markers_actual_position.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
