<div class= "container container-index">
  <div class="banner">
    BANNER
  </div>
  <div class="index-content">
    <div class="index-left-part">
      <div class="search-index">
        SEARCHBAR
      </div>
      <div class="row" style="margin: 0;">
        <% @maraudes.each do |maraude| %>
        <div class="col-6" style="padding: 10px;">
          <div class="card-trip zoom picture" data-id='<%= maraude.id %>' >
            <%= cl_image_tag maraude.photo %>
            <div class="card-trip-infos">
              <div>
                <h2><%= maraude.title %></h2>
                <p><%= maraude.starts_at %></p>
              </div>
              <h2 class="card-trip-pricing"><%= maraude.capacity%> places disponibles</h2>
              <img src="<%= maraude.asso.photo %>" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="index-right-part"
      id="map"
          style="width: 604px;
          "
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>











