<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <h1>test création de maraude</h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <%= simple_form_for @maraude do |f| %>
        <%= f.input :title %>
        <%= f.input :address_start, input_html: { class: "autocomplete" }%>
        <%= f.input :address_end, input_html: { class: "autocomplete" } %>
        <%= f.input :description %>
        <%= f.input :capacity %>
        <%= f.input :photo %>

        <%= f.submit %>
      <% end %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>



