<div>
    <div class= "col-4">
      <%= simple_form_for @maraude do |f| %>
        <%= f.input :title, label: "Titre" %>
        <%= f.input :description, label: "Description",input_html: { class: "create-style"} %>
        <%= f.input :address_start, label: "Adresse Départ"%>
        <%= f.input :address_end, label: "Adresse Arrivée"%>
        <%= f.input :starts_at, label: "Débute le",as: :string, input_html: { id: "starts_at", class: "create-style"} %>
        <%= f.input :ends_at, label: "Termine le",as: :string %>
        <%= f.input :capacity, label: "Nombre de place",input_html: { class: "create-style"} %>
        <%= f.input :photo, input_html: { class: "create-style"} %>
        <%= f.submit "Valider", class: "cta-validate" %>
      <% end %>
    </div>
  <div>
  </div>
</div>


  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
      </div>
    </div></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
