<div class="container">
  <div class="black-form">
    <div class="form-maraude">
      <h1>Créez votre Maraude</h1>
      <%= simple_form_for @maraude do |f| %>
        <div class="form-maraude-top">
          <div class="row">
            <div class="col-6">
              <%= f.input :title, label: "Titre", input_html: { class: "create-style"} %>
            </div>
            <div class="col-6">
              <%= f.input :description, label: "Description",input_html: { class: "create-style"} %>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <%= f.input :address_start, label: "Adresse Départ",input_html: { class: "create-style autocomplete" }%>
            </div>
            <div class="col-6">
              <%= f.input :address_end, label: "Adresse Arrivée",input_html: { class: "create-style autocomplete" } %>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <%= f.input :starts_at, label: "Débute le",as: :string, input_html: { id: "starts_at", class: "create-style"} %>
            </div>
            <div class="col-6">
              <%= f.input :ends_at, label: "Termine le",as: :string, input_html: { id: "ends_at", class: "create-style"} %>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <%= f.input :capacity, label: "Nombre de place",input_html: { class: "create-style"} %>
            </div>
            <div class="col-6">
            <%= f.input :photo, input_html: { class: "create-style"} %>
            </div>
          </div>

        </div>
        <%= f.submit "Valider", class: "cta-validate" %>
      <% end %>
    </div>
  </div>
</div>




