<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-space-between align-item-center my-3 p-0" style="">

      <div class="pr-4">
        <div class="my-5">

          <%= link_to "Back to all maraudes", maraudes_path %>
          <h1><%= @maraude.title %></h1>
          <p><%= @maraude.description%></p>

          <p style="font-weight: 600;">Adresse de départ : <%= @maraude.address_start %></p>
          <p style="font-weight: 100;">Adresse d'arrivée : <%= @maraude.address_end %></p>
          <p style="font-weight: 600;"><%= @maraude.starts_at.strftime("%A %d %B %H:%M") %></p>
          <p style="font-weight: 100;"><%= @maraude.ends_at.strftime("%A %d %B %H:%M") %></p>
          <p>La demande de l'association est de <strong><%= @maraude.capacity %> personnes</strong></p>
          <p>Il reste <strong> <%= @remaining_places %> </strong> places ! </p>

        </div>

        <div class="m-2">
          <%= cl_image_tag(@maraude.photo, style: "height: 250px")%>
        </div>

      </div>

      <div>
        <div
          id="map"
          style="width: 604px;
          height: 357px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" class="mt-5">
        </div>

        <div class="mt-3 bg-white py-3 w-100 align-item-center">
          <% if current_user.bookings.where(maraude: @maraude).exists? %>
            <h2>Vous avez déjà réservé cette maraude</h2>
          <% elsif @remaining_places == 0 %>
            <h2>Il n'y a plus de place</h2>
          <% else %>
            <div>
              <p>Inscrivez-vous :</p>
            </div>
            <%= simple_form_for [@maraude, @booking] do |f| %>

              <div class="d-flex justify-content-between mb-4">

                <div class="border-bottom" style="width: 290px;">
                  <%=  text_field_tag "user[first_name]", current_user.first_name, placeholder: 'first name', class: "border-0", style: "outline: none;" %>
                </div>

                <div class="border-bottom" style="width: 290px;">
                  <%= text_field_tag "user[last_name]", current_user.last_name, placeholder: 'last name', class: "border-0", style: "outline: none;" %>
                </div>

              </div>

              <div class="d-flex justify-content-between mb-4 border-0">

                <div class="border-bottom" style="width: 290px;">
                  <%= text_field_tag "user[email]", current_user.email, placeholder: 'email', class: "border-0 w-100", style: "outline: none;" %>
                </div>

                <div class="border-bottom" style="width: 290px;">
                  <%= text_field_tag "user[phone_number]", current_user.phone_number, placeholder: 'phone number', class: "border-0", style: "outline: none;" %>
                </div>

              </div>

                <%= f.submit "Réservez cette maraude", class: "btn", class: "w-100", style: "background-color: #FFE436"%>
              <% end %>
            <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
