<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-space-between align-item-center my-3 p-0" style="">


      <div class="">
        <div class="m-2">

          <%= link_to "Back to all maraudes", maraudes_path %>
          <h1><%= @maraude.title %></h1>
          <h2> <%= @maraude.address_start %></h2>
          <p><%= @maraude.description%></p>
          <p><%= @maraude.starts_at %></p>
          <p><%= @maraude.ends_at %></p>

        </div>

        <div class="m-2">
          <%= cl_image_tag(@maraude.photo, style: "height: 250px")%>
        </div>

      </div>



      <div>
        <div
          id="map"
          style="width: 604px;
          height: 357px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

        <div class="m-2 bg-white p-3">
          <%= simple_form_for [@maraude, @booking] do |f| %>
            <%= f.input :first_name, as: :string %>
            <%= f.input :last_name, as: :string %>
            <%= f.input :email, as: :string %>
            <%= f.input :phone_number, as: :string %>
            <%= f.submit "Book this maraude", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
