<div class="maraude-show-background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path(@maraude.photo) %>');position: relative;">
    <div class="back-to-maraudes">
      <%= link_to request.referer do %>
        <h3 class="section-retour"><i class="far fa-arrow-alt-circle-left" style="padding-right: 10px;"></i>Retour aux maraudes</h3>
      <% end %>
    </div>
    <!-- <div class="container-retour" data-aos="fade-up">
      <%#= link_to maraudes_path do %>
        <h3 id="section-retour"><i class="far fa-arrow-alt-circle-left"></i>Retour aux missions</h3>
      <%# end %>
    </div> -->

  <div class="maraude-show-card">
    <div class="maraude-card-left-part">
      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-steps="<%= @steps.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="maraude-card-right-part">
      <div class="maraude-show-description">
        <%= cl_image_tag(@maraude.photo) %>
        <h3><strong><%= @maraude.title %></strong></h3>
        <p><%= @maraude.description %></p>
      </div>
      <div class="maraude-show-details">
        <p style="margin-top: 39px;"><i class="far fa-calendar-alt" style="padding-right: 6px;"></i><strong><%= I18n.l(@maraude.starts_at, format: :long, locale: :'fr')%> / <%= @maraude.ends_at.strftime("%H:%M") %></strong></p>
         <p class="" style="font-weight: 600;"><i class="fas fa-map-marker-alt" style="padding-right: 6px;"></i> départ : <%= @maraude.address_start %></p>
         <p class="" style="font-weight: 600;"><i class="fas fa-flag-checkered" style="padding-right: 6px;"></i> arrivée : <%= @maraude.address_end %></p>
         <p class="mb-5">La demande de <%=@maraude.asso.name %> est de <strong><%= @maraude.capacity %> personnes</strong>.<span style="background-color:#FED137">Il reste <strong> <%= @remaining_places %> </strong> places !</p></span>


         <div class="mt-3">
           <% if user_signed_in? %>
             <% if current_user.bookings.where(maraude: @maraude).exists? %>
               <h3 class="text-center">Vous avez déjà réservé cette maraude </h3>
             <% elsif @remaining_places == 0 %>
               <h2>Il n'y a plus de place</h2>
             <% else %>
               <div class="mb-4">
                 <p>Organisé par :</p>
                 <div class="asso-infos">
                  <%= cl_image_tag(@maraude.asso.photo, width: 100, height: 100, crop: :fill, class: "image-bordered") %>
                  <div style="padding-left: 10px;">
                   <p><%= @maraude.asso.name %></p>
                   <p><%= @maraude.asso.address %></p>
                   <p><%= @maraude.asso.phone_number %></p>
                  </div>
                 </div>
               </div>
               <%= simple_form_for [@maraude, @booking] do |f| %>
                 <div class="d-flex justify-content-center mb-4">
                   <%= f.submit "Participez à cette maraude", class: "btn", style: "background-color: #FFE436; border-radius: 15px; padding: 10px; width: 330px;"%>
                 </div>
               <% end %>
             <% end %>
           <% end %>
         </div>

      </div>
    </div>
  </div>
</div>
