<div class="full" style="position: relative;">
  <div class="d-flex dashboard">
    <div class="nav flex-column nav-pills sidebar border border-light" id="v-pills-tab" role="tablist" aria-orientation="vertical">

      <h4>Alvéole</h4>

       <!-- <div class="avatar-image" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
        <a><%= image_tag current_user.photo, class: "avatar-large-dashboard" %></a>
      </div> -->


      <!-- <div style="display: flex;height: 58px;"> -->
        <a class="nav-link nav-link-dashboard active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mes réservations</a>
      <!-- </div> -->

      <!-- <div style="display: flex;height: 58px;"> -->
        <a class="nav-link nav-link-dashboard" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Historique</a>
      <!-- </div> -->

      <% if !@asso.nil?  %>
        <!-- <div style="display: flex;height: 58px;"> -->
          <a class="nav-link nav-link-dashboard" id="v-pills-maraudes-tab" data-toggle="pill" href="#v-pills-maraudes" role="tab" aria-controls="v-pills-maraudes" aria-selected="false">Mes maraudes</a>
        <!-- </div> -->
      <% end %>

         </div>

    <div class="right-part p-3 bg-white rounded">
        <%= link_to " ← Retour aux maraudes", maraudes_path %>
        <div class="tab-content" id="v-pills-tabContent">

          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="right-part-header">
              <h3>Mes réservations </h3>
            </div>
            <% if @current_bookings == [] %>
              <p>Pas de prochaines réservations 😱. Trouvez votre future maraude disponible :
                <%= link_to "ici", maraudes_path %> </p>
            <% else %>
              <% @current_bookings&.each do |booking| %>
                <div class="card-product-dashboard">
                  <div class="dashboard-activity-image" style="background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(<%= booking.maraude.photo %>)">
                    <p>Débute dans <strong><%= number_of_days(DateTime.now, booking.maraude.starts_at)%></strong> jours </p>
                  </div>
                  <!-- <p>Débute dans <strong><%#= number_of_days(DateTime.now, booking.maraude.starts_at)%></strong> jours </p> -->
                  <!-- <img src="<%= booking.maraude.photo %>" /> -->
                  <div class="card-product-dashboard-infos">
                    <div class="booking-info">
                      <h2><%= booking.maraude.title %></h2>
                      <p><i class="fas fa-map-marker-alt"></i> <%= booking.maraude.address_start %></p>
                      <p> <i class="fas fa-flag-checkered"></i> <%= booking.maraude.address_end%></p>
                      <p class="participe"><i class="fas fa-users"></i> Je participe avec <strong> <%= booking.maraude.remaining_places %></strong> personnes</p>
                    </div>
                    <div class="booking-time">
                      <div>

                          <div><p><%= link_to "Plus d'info", maraude_path(booking.maraude_id), class: 'btn btn-warning booking-btn' %></p></div>
                      </div>
                      <!-- <div class="red"><p><%= booking.maraude.ends_at %></p></div> -->
                    </div>

                  </div>
                </div>
              <% end %>
            <% end %>
        </div>

        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div class="right-part-header">
            <h3>Toutes les maraudes passées : </h3>
          </div>
            <% if @past_bookings.nil? %>
              <p>Nous avons bien cherché mais n'avons pas trouvé de réservations.</p>
            <% else %>
              <% @past_bookings&.each do |booking| %>
                  <div class="card-product-dashboard">
                    <img src="<%= booking.maraude.photo %>" />
                    <div class="card-product-dashboard-infos">
                      <div class="booking-info">
                        <h2><%= booking.maraude.title %> ✅</h2>
                        <p><i class="fas fa-map-marker-alt"></i> <%= booking.maraude.address_start %></p>
                        <p> <i class="fas fa-flag-checkered"></i> <%= booking.maraude.address_end%></p>
                        <p class="participe"><i class="fas fa-users"></i> J'ai participé avec <strong> <%= booking.maraude.remaining_places %></strong> personnes</p>
                      </div>
                    </div>
                  </div>
                <% end %>
            <% end %>
        </div>

        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <div class="right-part-header">
            <h3>Information du profil</h3>
          </div>
            <p>Prénom</p>
            <%= current_user.first_name %>
            <p>Nom</p>
            <%= current_user.last_name %>
            <p>Email</p>
            <%= current_user.email %>
            <p>Numéro de téléphone</p>
            <%= current_user.phone_number %>
        </div>

        <% if !@asso.nil? %>
          <div class="tab-pane fade" id="v-pills-maraudes" role="tabpanel" aria-labelledby="v-pills-maraudes-tab">
            <!-- <div class="d-flex justify-content-between">
               \
            </div> -->
            <!-- <div class="d-flex justify-content-between"> -->
              <div class="right-part-header">
                <h3>Toutes les maraudes crées</h3>
                <button class="btn btn-warning add-a-maraude">Créer une maraude</button>
              </div>

            <% @maraudes_as_owner.each do |maraude| %>
              <div class="card-product-dashboard maraude-dashboard">
                  <img src="<%= maraude.photo %>" />
                  <div class="card-product-dashboard-infos">
                    <div class="booking-info">
                      <div>
                        <h2><%= maraude.title %></h2>
                        <p><i class="fas fa-map-marker-alt"></i> <%= maraude.address_start %></p>
                        <p> <i class="fas fa-flag-checkered"></i> <%= maraude.address_end%></p>
                        <p> <i class="fas fa-users"></i> <%= maraude.capacity %> </p>
                      </div>
                    </div>
                    <div class="booking-time">
                      <!-- <div> -->
                        <% if number_of_days(DateTime.now, maraude.starts_at) < 0 %>
                          <p> La maraude s'est terminée il y a <strong><%= -number_of_days(DateTime.now, maraude.starts_at)%></strong> jours</p>
                        <% else %>
                          <p>Débute dans <strong><%= number_of_days(DateTime.now, maraude.starts_at)%></strong> jours à <%=maraude.starts_at.strftime("%H:%M")%>
                          le <%= maraude.starts_at.strftime("%d/%m/%Y") %></p>
                        <% end %>
                        <%= link_to "Plus d'info", maraude_path(maraude), class: 'btn btn-warning booking-btn' %>
                      <!-- </div> -->

                    </div>

                  </div>
                </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="sidenav">
    <div class="sidenav-left-part">

    </div>
    <div class="sidenav-right-part">
      <div>
            <h1>Créez votre Maraude</h1>
      <%= simple_form_for Maraude.new, remote: true do |f| %>
        <div>
          <div>
            <div>
              <%= f.input :title, label: "Titre", input_html: { class: "create-style"} %>
            </div>
            <div>
              <%= f.input :description, label: "Description",input_html: { class: "create-style"} %>
            </div>
          </div>
          <div>
            <div>
              <%= f.input :address_start, label: "Adresse Départ",input_html: { class: "create-style autocomplete" }%>
            </div>
            <div>
              <%= f.input :address_end, label: "Adresse Arrivée",input_html: { class: "create-style autocomplete" } %>
            </div>
          </div>
          <div>
            <div>
              <%= f.input :starts_at, label: "Débute le",as: :string, input_html: { id: "starts_at", class: "create-style"} %>
            </div>
            <div>
              <%= f.input :ends_at, label: "Termine le",as: :string, input_html: { id: "ends_at", class: "create-style"} %>
            </div>
          </div>
          <div>
            <div>
              <%= f.input :capacity, label: "Nombre de place",input_html: { class: "create-style"} %>
            </div>
            <div>
            <%= f.input :photo, input_html: { class: "create-style"} %>
            </div>
          </div>
​
        </div>
        <%= f.submit "Valider", class: "cta-validate" %>
      <% end %>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
