<header class="home-header">
  <div class="home-title">
    <h1>ALVEOLE</h1>
    <p class="mt-5">Le premier site de mise en relation de Maraudes</p>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="search-navbar">
        <%= form_tag maraudes_path, class: "form-flex", method: :get do %>

          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Trouvez une Maraude..."%>
          <%= submit_tag "Recherche", class: "btn btn-warning" %>
        <% end %>
      </div>

      <div class="main-features">
        <div class="main-feature">
          <%= image_tag "action.svg", alt: "Le Wagon", width: 220, height: 226 %>
          <h3>Action</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sequi animi consectetur nesciunt consequuntur.</p>
        </div>
        <div class="main-feature">
          <%= image_tag "social.svg", alt: "Le Wagon", width: 220, height: 226 %>

          <h3>Social</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sequi animi consectetur nesciunt consequuntur.</p>
        </div>
        <div class="main-feature">
          <%= image_tag "solidarity.svg", alt: "Le Wagon", width: 220, height: 226 %>

          <h3>Solidarité</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sequi animi consectetur nesciunt consequuntur.</p>
        </div>
      </div>
    </div>
  </header>

  </div>

<div class="container">
  <h2 class="mt-3 text-center">The Lastest maraudes</h2>
  <div class="cards">
    <% @maraudes.last(6).each do |maraude| %>
        <div class="card zoom">
          <div class="card-picture" data-id="<%= maraude.id %>">
            <% if !maraude.photo.nil? %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path maraude.photo, height: 300, width: 400, crop: :fill %>')">
              </div>
            <% else %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('https://images.unsplash.com/photo-1519741347686-c1e0aadf4611?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1980&q=80')">
              </div>
            <% end %>
          </div>
          <div class="card-body">
            <h4><%= maraude.title %></h4>
          </div>
        </div>
    <% end %>
  </div>
  <div class="partners">
    <div class="partner">
      <img src="" alt="">
    </div>
    <div class="partner">
      <img src="" alt="">
    </div>
    <div class="partner">
      <img src="" alt="">
    </div>
  </div>
</div>


