<%= render 'shared/navbar' %>
<header class="home-header">
  <div class="home-title">
    <h1>ALVEOLE</h1>
    <h3 class="mt-5">Le premier site de mise en relation de Maraudes</h3>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="search-navbar">
        <%= form_tag maraudes_path, class: "form-flex", method: :get do %>

          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Trouvez une Maraude..."%>
          <%= submit_tag "Recherche", class: "btn btn-warning" %>
        <% end %>
      </div>

      <div class="main-features">
        <div class="main-feature">
          <%= image_tag "action.svg", alt: "Le Wagon", width: 220, height: 226 %>
          <h4>Action</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sequi animi consectetur nesciunt consequuntur.</p>
        </div>
        <div class="main-feature">
          <%= image_tag "social.svg", alt: "Le Wagon", width: 220, height: 226 %>

          <h4>Social</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sequi animi consectetur nesciunt consequuntur.</p>
        </div>
        <div class="main-feature">
          <%= image_tag "solidarity.svg", alt: "Le Wagon", width: 220, height: 226 %>

          <h4>Solidarité</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sequi animi consectetur nesciunt consequuntur.</p>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container">
  <h2 class="mt-3 text-center">The Lastest maraudes</h2>
  <div class="row">
    <% @maraudes.each do |maraude| %>
      <div class="col-4 mt-5" style="padding: 10px;">
        <div class="card-trip" data-aos="zoom-in-down">
          <%= cl_image_tag maraude.photo %>
          <div class="card-trip-infos">
            <div>
              <h2><%= maraude.title %></h2>
              <p><%= maraude.starts_at %></p>
            </div>
            <h2 class="card-trip-pricing"><%= maraude.capacity%> places disponibles</h2>
            <img src="<%= maraude.asso.user.photo %>" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="partners" data-aos="flip-left">
    <div class="partner">
      <%= image_tag "partner1.svg", alt: "Le Wagon", width: 300, height: 230 %>
    </div>
    <div class="partner">
      <%= image_tag "partner2.svg", alt: "Le Wagon", width: 300, height: 230 %>
    </div>
    <div class="partner">
      <%= image_tag "partner3.svg", alt: "Le Wagon", width: 300, height: 230 %>
    </div>
  </div>
</div>


